.side-bar {
    display: flex;
    justify-content: center;
    background-color: #fff;
    flex-wrap: wrap;
    align-items: flex-start;
}


.active-link {
    color: black;
    text-decoration: underline;
}

.menu {
    margin-top: 20px;
}

.menu-list {
    list-style-type: none;
    justify-content: flex-start;
    list-style: none;
}

.content {
    height: 710px;
    background-color: #f6f6f8;
}

.search-input {
    width: 285px;
    height: 35px;
    margin-top: 25px;
    border-radius: 5px;
    padding-left: 5px;
}