* {
    font-family: "Poppins", sans-serif;
}

.side-bar {
    background-color: #ffffff;
    display: block;
    float: left;
}


.active-link {
    color: black;
    text-decoration: underline;
}

.menu {
    margin-top: 20px;
}

.menu-list {
    list-style-type: none;
    justify-content: flex-start;
    list-style: none;
}

.content {
    height: 710px;
    background-color: #f6f6f8;
}

.search-input {
    width: 95%;
    height: 100%;
    margin-top: 25px;
    border-radius: 5px;
    padding-left: 5px;
}

.today-tab-row {
    margin-bottom: 20px;
    /* Khoảng cách giữa các hàng */
}

.custom-col {
    border-radius: 5px;
    margin-right: 15px;
    /* Khoảng cách giữa các ô */
    height: 190px;
    width: 290px;
    background-color: #ffffff;
    /* display: flex;
        align-items: center; */
}

.week-tab-row {
    margin-bottom: 15px;
    /* Khoảng cách giữa các hàng */
}

.custom-col-2 {
    border-radius: 5px;
    margin-right: 15px;
    /* Khoảng cách giữa các ô */
    height: 140px;
    width: calc(23.5% - 5px);
    /* 23.5% chiều rộng mỗi ô, trừ đi 5px cho khoảng cách giữa các ô */
    background-color: #ffffff;
    margin-bottom: 15px;
}


/* Chỉ cần margin-right, vì margin-bottom của .today-tab-row đã tạo khoảng cách giữa các hàng */

.active-col {
    background-color: rgb(13, 202, 240);

}

#location {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

#temperature {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

#detail-weather {
    font-size: 1rem;
    color: #6c757d;
    text-transform: capitalize !important;
    text-align: center;
}

#clear-percent {
    font-size: 1rem;
    color: #6c757d;
    text-align: center;
}